<footer class="footer">
  <small>
    <a href="http://www.mosesmendoza.com/">Moses Mendoza</a>
    by Me
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://nytimes.com/">News</a></li>
    </ul>
  </nav>
</footer>

